{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Редактирование конкусов</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="table-caption">Список конкурсов</div>
    <table id="table">
        <thead>
        <tr>
            {% for value in title %}
            <th>{{ value }}</th>
            {% endfor %}
            <th><input type="checkbox"/></th>
        </tr>
        </thead>
        <tbody>
        {% for competition in competitions %}
        <tr>

            {% for key, value in competition.items %}
                <td data-label="{{key}}">{{value}}</td>
            {% endfor %}

            <td class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></td>
            <td class="checkbox"><input type="checkbox"/></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <a href="{% url 'add_competition' %}" class="btn a_btn">Добавить</a>
    </div>
</div>
{% endblock %}
