{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Редактирование судей</title>
{% endblock %}

{% block content %}
<div class="row">
    {% if not judges %}
    <h4>Список судей пока пуст</h4>
    {% else %}
    <div class="table-caption">Список судей</div>
    <table id="table">
        <thead>
        <tr>
            {% for value in title %}
            <th>{{ value }}</th>
            {% endfor %}
            <th><input type="checkbox"/></th>
        </tr>
        </thead>
        <tbody>
        {% for judge in judges %}
        <tr>

            <td>{{judge.name}}</td>
            <td>{{judge.patronymic}}</td>
            <td>{{judge.last_name}}</td>
            <td>{{judge.post}}</td>
            <td>{{judge.regalia}}</td>
            <td>{{judge.organization}}</td>
            <td>{{judge.status}}</td>
            <td class="actions"><a href="#">Edit</a> | <a href="{% url 'delete_judge' pk=judge.id %}">Delete</a></td>
            <td class="checkbox"><input type="checkbox"/></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}


    <div class="container">
      <a href="{% url 'add_judge' %}" class="btn a_btn">Добавить красиво</a>
    </div>
</div>
{% endblock %}
