<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Базовый шаблон</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
</head>
<body>

    <div class="wrapper">
        <header>
            <ul>
                <li><a class="a_menu" href="{% url 'index' %}">Общие итоги</a></li>
                <li><a class="a_menu" href="#">Главный судья</a>
                    <ul>
                        <li><a class="a_menu" href="{% url 'edit_judges' %}">Судьи</a></li>
                        <li><a class="a_menu" href="#">Конкурсы</a></li>
                        <li><a class="a_menu" href="#">Этапы</a></li>
                    </ul>
                </li>
                <li><a class="a_menu" href="#">Номинации</a></li>
                <li><a class="a_menu" href="#">Контакты</a></li>
                <li><a class="a_menu" href="{% url 'about' %}">Обо мне</a></li>

            </ul>
        </header>

        <main>
            {% block content %}
            <h2>Это базовый шаблон</h2>


            {% endblock %}
        </main>

        <footer>
            I'm a 30px tall footer
        </footer>
    </div>
</body>
</html>